%p#notice= notice

%h1= @league.name
%ul
  - list_of @league.rankings do |ranking|
    = ranking.position
    = ranking.player.name

= link_to 'Edit', edit_league_path(@league)
|
= link_to 'Back', leagues_path
