%h2= resource.name

%h2 Rankings
%ul
  = list_of @league.rankings do |ranking|
    = link_to ranking.position, ranking_path( ranking )
    = link_to ranking.player.name, player_path( ranking.player )
    - if player_signed_in? and can? :challenge, ranking
      = render :partial => 'challenges/create', :locals => { :league => @league, :ranking => ranking }

%h2 Challenges
%ul
  = list_of @league.challenges do |challenge|
    = link_to challenge.player.name, player_path( challenge.player )
    vs
    = link_to "##{challenge.ranking.position}", ranking_path( challenge.ranking )
    = link_to challenge.ranking.player.name, player_path( challenge.ranking.player )
    = link_to "Show", league_challenge_path( @league, challenge )

- if player_signed_in? and not @league.member? current_player
  = render :partial => 'rankings/create', :locals => { :league => @league }

= link_to 'Back', leagues_path
