%p#notice= notice

%h1= @league.name

%h2 Rankings
%ul
  = list_of @league.rankings do |ranking|
    = link_to ranking.position, ranking_path( ranking )
    = link_to ranking.player.name, player_path( ranking.player )

%h2 Challenges
%ul
  = @league.challenges

- if player_signed_in? and not @league.member? current_player
  = form_for Ranking.new do |f|
    = f.hidden_field :player_id, :value => current_player.id
    = f.hidden_field :league_id, :value => @league.id
    = f.submit

= link_to 'Edit', edit_league_path(@league)
|
= link_to 'Back', leagues_path
