%h1 AKQA
%ul
  %li= link_to "All Players", players_path
  %li= link_to "All Leagues", leagues_path
  %li= link_to "All Rankings", rankings_path

%ul
  %li= render :partial => 'shared/session'
  %li= render :partial => 'shared/registration'