%p#notice= notice

%h1= @player.name
%ul
  = list_of @player.rankings do |ranking|
    = link_to ranking.position, ranking_path( ranking )
    = link_to ranking.league.name, league_path( ranking.league )

= link_to 'Edit', edit_player_path(@player)
|
= link_to 'Back', players_path
