%h1 Listing Challenges

%table
  %tr
    %th Challenger
    %th Opponent
    %th Ranking
    %th League
    %th
    %th
    %th
  - @challenges.each do |challenge|
    %tr
      %td= link_to challenge.player.name, player_path( challenge.player )
      %td= link_to challenge.ranking.player.name, player_path( challenge.ranking.player )
      %td= link_to challenge.ranking.position, ranking_path( challenge.ranking )
      %td= link_to challenge.ranking.league.name, league_path( challenge.ranking.league )
      %td= link_to 'Show', league_challenge_path( @league, challenge )
      / %td= link_to 'Edit', edit_league_challenge_path( @league, challenge )
      %td= link_to 'Destroy', [ @league, challenge ], :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Challenge', new_league_challenge_path(@league)